<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %.-1level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="com.hp">
		<level value="info" />
	</logger>

	<logger name="org.ontoware">
		<level value="info" />
	</logger>

	<logger name="org.eclipse.jetty">
		<level value="info" />
	</logger>
	
	<logger name="main">
		<level value="info" />
	</logger>

	<logger name="proactive">
		<level value="info" />
	</logger>

	<logger name="eu">
		<level value="debug" />
	</logger>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>

