<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/" status="WARN">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Print the date in ISO 8601 format -->
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

    <logger name="org.apache.cxf" level="ERROR" />
    <logger name="org.eclipse.jetty" level="ERROR" />

    <logger name="org.objectweb.proactive" level="WARN" />
    <logger name="fr.inria" level="WARN" />
    <logger name="components.adl" level="WARN" />

    <logger name="eu.play_project.play_platformservices_querydispatcher.bdpl.visitor" level="INFO" />
    
    <logger name="eu.play_project" level="DEBUG" />
    <logger name="org.ow2.play" level="DEBUG" />
    <logger name="main" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
	
</configuration>
