<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%-5.5level %22.22logger{0}]) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.objectweb.proactive" level="WARN" />
    <logger name="fr.inria" level="WARN" />
    <logger name="components.adl" level="WARN" />
    <logger name="eu.play_project" level="DEBUG" />
    <logger name="org.ow2.play" level="DEBUG" />
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
